@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Tenor+Sans&display=swap');

:root{
    --main-bgcolor:#4c6d6b;
    --fuentePrinc:"Encode Sans Expanded", sans-serif;
}

.header h1{

    font-family: "Tenor Sans", sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}


.toolbar {
    height: 390px;
    width: 5rem;
    padding:0.5rem 1rem;
    background-color:var(--main-bgcolor);
   
}


.selector{
width: 100%;
}

.header h1{
    margin-left: 50%;
}

.header h1{
    margin-left: 50%;
}

.titulo {
    width: 100%;
    font-family: var(--fuentePrinc);
    margin: 0 0 4px 0;
    color: #ffffff;
}

.toolDiv {
    max-width: 46px;
    max-height: 46px;
}

.tool {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.tool:hover {
    background-color: #878787;
    cursor: pointer;
}

.boton{
    border-radius: 6px;
    color: white;
    background-color: #6a736f;
}

.clicked{
    background-color: #9ba065;
}

.boton:hover{
    background-color: #697c5c;
    cursor: pointer;
}